* {
  margin: 0;
  padding: 0;
  transition: .5s ease-in-out;
}

ul { list-style: none; }

body {
  background: url('https://cdn.dribbble.com/users/1233499/screenshots/3850691/web-development.gif') no-repeat center/cover fixed;
  font-family: sans-serif;
}

main {
  padding: 50px 0;
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(49,16,100,.5)  50%, rgba(252,205,178,.5) 100%);
}

h1 {
  font-family: 'Croissant one', cursive;
  font-size: 75px;
  text-align: center;
}

.form-outer {
  width: 90%;
  margin: 50px auto 0;
  padding: 50px 0;
  border-radius: 20px;
  background: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.6) 1px);
  color: #fff;
}

.form-outer p {
  box-sizing: border-box;
  padding: 0 10px;
  font-family: 'Croissant one', cursive;
  font-size: 35px;
  font-weight: 600;
  text-align: center;  
}

form {
  width: 85%;
  margin: 50px auto 0;
}

.rowTab {
  display: flex;
}

.labels {
  padding: 10px 0 0;
  font-size: 20px;
  text-align: right;
  line-height: 1.6;
}

.labels, .rightTab {
  margin: 20px 15px 0;
  flex: 0 1 50%;  
}

.input-field, .dropdown, .checkbox, .radio {
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 20px;
}


textarea.input-field { resize: none; }

.input-field {
  min-width:75%;
  width:50%;
  border: transparent;
  border-bottom: 1px solid;
}

.btn { 
  margin: 50px 0 0;
  text-align: center; 
}

button[type="submit"] {
  padding: 10px 20px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  text-shadow: 0px 0px 30px;
}

@media screen and (max-width: 768px) {
  h1 { font-size: 50px; }
  .form-outer p { font-size: 26px; }
  .rowTab { display: block; }
  .input-field, .dropdown, .checkbox, .radio, .labels { font-size: 18px; }
  .labels { text-align: left; }
  .input-field, .dropdown { width:100%; }
}